body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: #fff;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

p {
  padding: 10px;
  margin: 0;
}

#canvas {
  width: 100%;
  height: 50%;
  bottom: 0px;
  position: fixed;
}

.content {
  width: 100%;
  display: none;
  text-align: center;
}

.content.active {
  display: block;
}

#commentList {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  padding: 10px;
}

body.tv #commentList {
  z-index: 1000;
  top: -100px;
  position: relative;
}

#commentMsg {
  width: 100%;
  height: 30px;
  background: #444;
  color: #fff;
  outline: 0;
  border: 0;
  font-size: 20px;
  line-height: 30px;
  padding-left: 10px;
}

iframe {
  display: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
}

textarea:focus, input:focus{
    outline: none;
    border: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

#plause {
  opacity: 1;
  -webkit-transition: opacity 4s ease-in-out;
  transition: opacity 4s ease-in-out;
}