body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: #fff;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#canvas {
  width: 100%;
  height: 50%;
  bottom: 0px;
  position: fixed;
}


.content {
  width: 100%;
  display: none;
}

.content.active {
  display: block;
}

#commentMsg {
  width: 100%;
  background: #000;
  color: #fff;
  border: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
}

#plause {
  opacity: 1;
  -webkit-transition: opacity 4s ease-in-out;
  transition: opacity 4s ease-in-out;
}